.cartProductsGrid {
  margin-left: 0px;
}
.productImage {
  height: 135px;
  width: 100px;
  border-radius: 20px;
}

.productTitleCart {
  margin: 0 20px;
  color: #5f093d;
  text-align: start;
  font-size: 18px;
}

.productInfosPriceCart {
  font-weight: bold;
  color: #5f093d;
  margin-right: 10px;
}

.productInfosPromoCart {
  margin-left: 10px;
  font-weight: bold;
  color: #5f093d;
}

.productDescriptionCart {
  margin: 0 20px;
  color: #333;
  font-size: 12px;
  text-align: justify;
}

.productInfosQuantityInputCart {
  width: 65px;
  margin-bottom: 10px;
}

.paymentList {
  list-style-type: none;
  padding-left: 0;
  text-transform: uppercase;
}

.paymentListItem {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  color: #5f093d;
}

.paymentListItemValue {
  font-weight: bold;
  color: #333;
}

@media screen and (max-width: 599px) {
  .cartPrice {
    flex-direction: column;
    margin: auto 2px;
  }

  .productInfosPromoCart {
    margin: 0;
  }

  .productInfosPriceCart {
    margin: 0;
  }

  .productField {
    flex-direction: column;
  }

  .descriptionField {
    flex-direction: column;
    text-align: center;
  }

  .productTitleCart {
    text-align: center;
  }

  .quantityField {
    justify-content: center;
  }
}
