.productTitle {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: #121F4E;
}

.productDescription {
  text-align: justify;
  margin: 8px;
}

.productPrice {
  text-decoration: line-through;
  color: #FA63B5;
  font-size: 15px;
  font-weight: bold;
}

.productPromoPrice {
  margin-left: 5px;
  font-size: 15px;
}

.categoryLabel {
  background-color: #fa63b670;
  padding: 5px;
  color: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 5px;
  display: inline-block;
}

.promoTag {
  position: absolute;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  background-color: #fa63b690;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 0 0 16px 0;
}